cairosvg
coffeehouse
colour
emoji-country-flag
google
glitch-this
gtts
humanize
justwatch
lottie
qrcode
git+https://github.com/Phyco-Ninja/spotify-downloader
tracemoepy==3.8
validators
geopy
prettytable
newspaper3k
pydub
pyfiglet
pylast
pytgcalls
ffmpeg-python
